.education-cta {
  color: $white;
  background-color: $black;
  margin: 4em 0;
  .img-cta {
    min-height: 20em;
  }
  .content {
    padding: 1em 2em;
    :nth-child(even) {
      margin: 0 -2rem 0 0;
    }
    h1 {
      font-family: 'Grotesk-Bd';
      letter-spacing: 0.125rem;
    }
    p {
      padding: 0 1rem 0 0;
    }
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      li {
        display: flex;
        width: 45%;
        border-bottom: 2px solid rgba($white, 0.5);
        margin: 0 2rem 0 0;
        a {
          display: block;
          flex: 1 1 auto;
          color: $white;
          font-family: 'Grotesk-Bd';
          font-size: 1.4rem;
          line-height: 1.5;
          padding: 0.5em 0.75em 0.5em 0;
          text-decoration: none;
          transition: all 0.5s ease-out;
          &:hover, &:focus, &:active {
            padding-left: 0.5em;
            padding-right: 0.25em;
            background-color: rgba($white, 0.5);
            transition: background-color 0.5s linear,
                        padding-left 0.33s ease-in,
                        padding-right 0.33s ease-in;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 575px) {
    border: 1px solid red;
    display: flex;
    flex-direction: column-reverse;
  }
}
