.education-cta {
  color: $white;
  background-color: $black;
  margin: 4em 0;
  .img-cta {
    min-height: 20em;
  }
  .content {
    padding: 1em 2em;
    max-width: 40em;
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      li {
        display: inline-block;
        width: 45%;
        border-bottom: 2px solid rgba($white, 0.5);
        margin: 0 1rem 0 1rem;
        a {
          display: block;
          color: $white;
          font-family: 'Grotesk-Bd';
          font-size: 1.25em;
          line-height: 1.5;

          padding: 0.5em 0.75em 0.5em 0;
          margin-right: 2em;
          text-decoration: none;
          transition: all 0.5s ease-out;
          &:hover, &:focus, &:active {
            padding-left: 0.5em;
            padding-right: 0.25em;
            background-color: rgba($white, 0.5);
            transition: background-color 0.5s linear,
                        padding-left 0.33s ease-in,
                        padding-right 0.33s ease-in;
          }
        }
        @media only screen and (max-width : 30em) {
          display: block;
          width: 100%;
          a {
            margin-right: 0;
          }
        }
        @media only screen and (max-width: 1300px) {
          width: 100%;
        }
      }
    }
  }
}
