.education {
  .col {
    padding-left: 0;
    padding-right: 0;
  }
  header {
    border-bottom: 0;
    margin-bottom: 0;
  }
  .education-stage {
    .education-landing {
      ul {
        padding: 0;
        column-count: 2;
        list-style: none;
        li {
          padding: 0.5em 0;
          break-inside: avoid-column;
        }
      }
      > .row {
        margin-bottom: 4em;
        justify-content: space-between;
        display: flex;
        .edu-content {
          align-self: center;
          padding: 0;
        }
      }
      .bottom-content {
        margin: 0 0 0 auto;
      }
      .bottom-image {
        width: 100%;
      }
      > .row:nth-of-type(odd) {
        flex-direction: row-reverse;
      }
      > .row:nth-of-type(4) {
        p.intro {
          margin-top: 2em;
        }
      }
      @media only screen and (max-width: 768px) {
        .row {
          margin-bottom: 0;
          justify-content: center;
          .edu-content {
            margin: 1rem 0 1rem 0;
          }
          .edu-img {
            img {
              width: 50%;
              margin: 0 auto;
            }
          }
          .landing-bottom {
            img {
              max-width: 100%;
            }
          }
        }
        .bottom-content {
          margin: 0;
          padding: 0;
        }
        .bottom-image {
          width: 100%;
        }
      }
    }
  }

  .education-course {
    h1 {
      display: block;
      font-family: 'Grotesk-Bd';
      font-size: 4em;
      text-align: center;
    }
    h3 {
      display: block;
      font-family: 'Grotesk-Bd';
      font-size: 2.5em;
      text-align: center;
    }
  }

  .education-form {
    h2 {
      display: block;
      font-family: 'Grotesk-Bd';
      font-size: 2.5em;
      text-align: center;
    }
    p {
      text-align: center;
      &.note {
        color: rgba($black, 0.5);
      }
    }
    .form-cta {
      margin: 0 auto;
      padding: 0.5em 1em;
      font-family: 'Grotesk-Bd';
      color: $black;
      background-color: transparent;
      font-size: 2.2em;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      letter-spacing: 0;
      opacity: 0.25;
      transition: opacity 0.33s ease-out;
      &:hover {
        opacity: 1;
        transition: opacity 0.33s linear;
      }
    }
  }
}
