.hairstyling {
  .col {
    padding-left: 0;
    padding-right: 0;
  }
  .shoutout {
    font-family: 'Grotesk-Lt';
    font-size: 2.5em;
    line-height: 1.36;
    strong {
      font-family: 'Grotesk-Bd';
      font-weight: normal;
    }
    p {
      margin: 0;
    }
    @media only screen and (max-width: 920px) {
      min-width: 100%;
    }
  }
  .online-booking {
    h3 {
      font-family: 'Grotesk-Bd';
      font-size: 2.5em;
      margin: 0.2em 0 1em 0;
    }
    form {
      font-size: 1rem;
      .captcha {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 2rem;
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        .btn-next {
          margin-left: auto;
        }
        input[type="submit"], .btn {
          padding: 0;
          color: rgba($black, 0.25);
          background-color: rgba($white, 0);
          font-size: 3rem;
          font-family: 'Grotesk-Bd';
          line-height: 1.36;
          letter-spacing: normal;
          text-transform: uppercase;
          width: auto;
          .tick {
            display: inline-block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 50%;
            width: 2.2rem;
          }
        }
        .btn-next .tick {
          background-image: url('assets/images/backarrownext.svg');
          transform: rotate(180deg);
        }
        .btn-back .tick {
          background-image: url('assets/images/backarrow.svg');
        }
      }
      .inactive {
        display: none;
      }
    }
    @media only screen and (min-width: 920px) {
      margin-left: 1.25rem;
    }
    @media only screen and (max-width: 919px) {
      margin: 2rem 0 0 0;
      border-top: 1px solid rgba($black, 1);
      padding-top: 2rem;
      min-width: 100%;
    }
  }
}
