.testimonials {
  .testimonial:nth-child(odd) {
    flex-direction: row-reverse;
    display: flex;
  }
  .testimonial {
    justify-content: space-between;
    margin: 0 0 2em;
    .content {
      align-self: center;
    }
    h2 {
      font-family: 'Grotesk-Bd';
      font-size: 2.5em;
      margin: 0.5em 0;
    }
    h3 {
      font-family: 'Grotesk-Lt';
      font-size: 1.33em;
      letter-spacing: 2px;
    }
    p.quote {
      padding: 0.5em 0;
      font-family: 'Grotesk-Bd';
      letter-spacing: 0.5px;
    }
    .img-wrapper {
      img {
        width: 100%;
        max-width: 20em;
        margin: 2em 0 0 0;
      }
    }
    @media only screen and (max-width: 768px) {
      flex-direction: column-reverse;
      &:nth-child(odd) {
        padding: 0;
        flex-direction: column-reverse;
      }
      .imagecolumn {
        width: 80%;
        margin: auto;
        .img-wrapper {
          width: 100%;
          img {
            margin: auto;
          }
        }
      }
    }
  }
}
