/* --- Globals --*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  color: $black;
  background-color: $white;
  font-family: "Grotesk-Rg", "system", sans-serif;
  font-size: 18px;
}
/* --- Core Architecture --- */
html {
  height: 100%;
  overflow-y: scroll;
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;
    #root {
      height: 100%;
      .app {
        // BUG -- Height 100% onload, not of DOM
        height: 100%;
        max-width: 1440px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
.home-bg-img {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: opacity 0.66s linear;
  max-height: 75%;
  @media only screen and (max-width : 1199px) {
    opacity: 0.66;
    transition: opacity 1s linear;
  }
  @media only screen and (max-width : 768px) {
    opacity: 0.33;
    transition: opacity 1s linear;
  }
}
header {
  flex: 0 0 auto;
}
.stage {
  flex: 1 1 auto;
}
footer {
  flex: 0 0 auto;
}
/* --- Typography Overrides --- */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
a {
  text-decoration: none;
  outline: 0;
}

/* --- React-Flexbox-Grid Overrides --- */
.row {
  margin-left: 0;
  margin-right: 0;
}
/* --- Global Style --- */
main {
  padding: 3em 0;
  header {
    border-bottom: 1px solid $black;
    margin: 0 0 2em 0;
    h2 {
      font-family: 'Grotesk-Lt';
      font-size: 1.2em;
      line-height: 1.5;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin: 0.25em 0;
    }
  }
  p.intro {
    font-family: 'Grotesk-Bd';
    font-size: 1.33em;
    line-height: 1.5;
  }
  p {
    font-size: 1em;
    line-height: 1.5;
  }
  a {
    color: rgba($black, 0.5);
    font-family: 'Grotesk-Bd';
    letter-spacing: 1px;
    text-decoration: underline;
    transition: color 0.5s ease-out;
    &:hover, &:focus, &:active {
      color: $black;
      transition: color 0.25s linear;
    }
  }
  ul {
    li {
      padding: 0.25em 0;
      line-height: 1.4;
    }
  }
  .img-wrapper {
    width: 100%;
    img {
      margin: 0 auto;
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

.global-main {
  flex: 1;
}
