header.main {
  height: 100%;
  max-height: 150px;
  z-index: 98;
  .nav-primary {
    height: 100%;
    display: flex;
    .branding {
      flex: 0 0 auto;
      display: inline-block;
      width: 150px;
      height: 150px;
      transition: opacity 0.33s ease-out;
      &:hover {
        opacity: 0.9;
        transition: opacity 1s ease-out;
      }
      a {
        display: block;
        height: 100%;
      }
    }
  }
}
