
form {
  .formgroup {
    display: block;
    border-left: 2px solid $black;
    padding: 0.25em 1em 0.5em;
    margin: 0 0 1em;
    .wpcf7-not-valid-tip {
      color: rgba(red, 0.7);
      font-family: 'Grotesk-Bd';
      float: left;
    }
  }
  label {
    display: block;
    width: 100%;
    padding: 0.25em 0;
    font-family: 'Grotesk-Rg';
    font-size: 1em;
    text-transform: uppercase;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  input[type="number"],
  select {
    display: block;
    width: 100%;
    color: $black;
    background: transparent;
    border: none;
    font-size: 2em;
    font-family: 'Grotesk-Bd';
    outline: none;
  }
  textarea {
    width: 100%;
    height: 8rem;
    display: block;
    color: $black;
    background: transparent;
    border: none;
    font-size: 3em;
    font-family: 'Grotesk-Bd';
    outline: none;
  }
  input[type="submit"] {
    padding: 1.5em 3em;
    color: $white;
    background-color: $black;
    border: 0;
    font-size: 1em;
    font-family: 'Grotesk-Bd';
    text-transform: uppercase;
    letter-spacing: 0.2em;
    outline: none;
    &:hover, &:focus   {
      background: lighten($black, 10%);
      transition: background 0.33s linear;
      cursor: pointer;
    }
    &:active {
      color: $white;
      background: $black;
      transition: color 0.33s linear, background 0.33s linear;
    }
  }
  .wpcf7-response-output {
    border: 2px solid rgba($black, 0.6);
    font-family: 'Grotesk-Bd';
    margin: 1rem 0 0 0;
    float: right;
    position: absolute;
  }
}

#ui-datepicker-div {
  .ui-datepicker-header, .ui-widget-header {
    background: none;
    background-color: $black;
  }
  .ui-slider-handle {
    background: none;
    background-color: $black;
  }
  td {
    a {
      background: none;
      background-color: $black;
      transition: background-color 200ms linear;
      &:hover {
        background-color: rgba($black, 0.5);
        color: $black;
        border: none;
        transition: background-color 200ms linear;
      }
    }
    .ui-state-highlight {
      border: none;
      background-color: rgba($black, 0.7);
      color: rgba($black, 0.9);
    }
    .ui-state-active {
      background-color: $white;
      border: none;
    }
  }
  .ui-datepicker-buttonpane {
    .ui-datepicker-current {
      display: none;
    }
    button {
      background: none;
      background-color: $black;
    }
  }
}
