form {
  .formgroup {
    border-left: 2px solid $black;
    padding: 0.25em 1em 0.5em;
    margin: 0 0 1em;
  }
  label {
    display: block;
    width: 100%;
    padding: 0.25em 0;
    font-family: 'Grotesk-Rg';
    font-size: 1em;
    text-transform: uppercase;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    display: block;
    width: 100%;
    color: $black;
    background: transparent;
    border: none;
    font-size: 3em;
    font-family: 'Grotesk-Bd';
    outline: none;
  }
  textarea {
    width: 100%;
    display: block;
    color: $black;
    background: transparent;
    border: none;
    font-size: 3em;
    font-family: 'Grotesk-Bd';
    outline: none;
  }
  input[type="submit"] {
    padding: 1.5em 3em;
    color: $white;
    background-color: $black;
    border: 0;
    font-size: 1em;
    font-family: 'Grotesk-Bd';
    text-transform: uppercase;
    letter-spacing: 0.2em;
    outline: none;
    &:hover, &:focus   {
      background: lighten($black, 10%);
      transition: background 0.33s linear;
      cursor: pointer;
    }
    &:active {
      color: $white;
      background: $black;
      transition: color 0.33s linear, background 0.33s linear;
    }
  }
}
